{{define "title" }}
Dasboard
{{end}}

{{define "css" }}
<script src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
{{end}}

{{define "script" }}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
{{end}}
<script>
    $(document).ready(function(){
        $('.table').DataTables()
    })
</script>

{{define "main"}}
<h1 class="display-6 mt-5">Create Task</h1>
<a class="btn btn-primary" href="/create"><i class="fa-solid fa-plus"></i> Create</a>

<table class="table caption-top">
    <caption>List of Artikel</caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
{{end}}